.answer-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 0 24px 0;
}

.answer-block {
  max-width: 286px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  align-self: center;
  overflow: hidden;
  box-shadow: #0000004d 0 0 0 1px;
  background-color: white;
}

.answer-block img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.answer-block h3 {
  font-size: 30px;
}

.answer-block p {
  font-size: 8px;
  font-style: italic;
}

.answer-block a {
  color: rgb(0, 0, 0, 0.5);
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .answer-block {
    max-width: 185px;
    height: 268px;
  }

  .answer-block img {
    height: 194px;
  }

  .answer-block h3 {
    font-size: 20px;
    margin: 5px 0 0 0;
    padding: 0 2px;
  }

  .answer-block p {
  }
}
