.result-block {
  background-color: rgb(169, 79, 79);
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
}

.result-block img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.result-block h3 {
  color: white;
  padding: 30px 0;
  font-size: 55px;
  margin: 0;
}

.result-block p {
  margin: 0;
  padding: 20px 15px 30px;
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.result-block span {
  color: white;
  font-size: 8px;
}

.result-block a {
  text-decoration: none;
  color: white;
}
