.title-block {
  background-color: #ff6700;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3em;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 5px;
}
